/basic_examples_console/Basic_examples_console/.idea/.idea.Basic_examples_console/.idea/aws.xml
/basic_examples_console/Basic_examples_console/.idea/.idea.Basic_examples_console/.idea/indexLayout.xml
/basic_examples_console/Basic_examples_console/.idea/.idea.Basic_examples_console/.idea/vcs.xml
